* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

.cart {
  padding: 40px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 20px 0;
  padding: 30px;
  border-radius: 20px;
  background-color: #F4F7F8;
}

.cart-item img {
  max-width: 180px;
  max-height: 180px;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 1rem;
}

.subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: teal;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  display: inline-block;
}

.cart-btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.cart-btn {
  margin: 8px;
}

.cart-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;
}