* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}


.login-form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.login-form h1 {
  margin: 22px;
}

.login-form div {
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
  width: 280px;
}



#id, #profile {
  display: none;
  margin: 4px;
}

#logout {
  display: none;
  margin: 22px;
}