* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

h1 {
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.3rem;
}

.profile-container {
    padding: 20px;
    position: relative;
    border-bottom: 1px solid #eaeaea;
    width: calc(100%);
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.username {
    font-weight: bold;
    margin: 0.5em 0;
}

.reviews-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 40px 100px 40px;
}

.product-container {
    margin: 10px;

    display: flex;
    flex-direction: column;
}

.product-container > img {
    max-width: 300px;
    max-height: 300px;
}


.review {
    background-color: #F4F7F8;

    width: 100%;
    margin: 20px 0;
    padding: 30px;
    border-radius: 20px;
}

